<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.rudderlabs.android.sdk.core">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:required="false"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
