name: CI for v2

on:
  push:
    branches: [ 'master-v2' ]
  pull_request:
    branches: [ 'master-v2', 'develop-v2' ]
    types: [ 'opened', 'reopened', 'edited', 'synchronize' ]
  workflow_dispatch:

jobs:
  cancel_previous:

    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          workflow_id: ${{ github.event.workflow.id }}

  build:
    name: Build & Code Quality Checks
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1

      - name: Set Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install node_modules
        run: |
          npm ci

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: cache gradle dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-core-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-core-

      - name: Build
        run: |
          git fetch --no-tags --prune --depth=100 origin master-v2
          npm run build

      - name: Unit test
        run: |
          git fetch --no-tags --prune --depth=100 origin master-v2
          npm run test