name: CI for v2

on:
  push:
    branches: [ 'master-v2' ]
  pull_request:
    branches: [ 'master-v2', 'develop-v2' ]
    types: [ 'opened', 'reopened', 'edited', 'synchronize' ]
  workflow_dispatch:

jobs:
  cancel_previous-v2:

    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          workflow_id: ${{ github.event.workflow.id }}

  build-v2:
    needs: cancel_previous
    name: Build & Code Quality Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1

      - name: Set Node 16
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install node_modules
        run: |
          npm ci

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: cache gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-core-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-core-

      - name: Build
        run: |
          git fetch --no-tags --prune --depth=100 origin master-v2
          npm run build

      - name: Unit test
        run: |
          git fetch --no-tags --prune --depth=100 origin master-v2
          npm run test