name: Publish new github release for v2

on:
  pull_request:
    branches:
      - master-v2
    types:
      - closed
  workflow_dispatch:
    inputs:
      release_version:
        description: 'v2 monorepo Release version'
        required: true
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  release-v2:
    name: Publish new release for v2
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/heads/master-v2') || ((startsWith(github.event.pull_request.head.ref, 'release-v2/') || startsWith(github.event.pull_request.head.ref, 'hotfix-release-v2/')) && github.event.pull_request.merged == true) # only merged pull requests must trigger this job
    steps:
      - name: Extract version from branch name (for release branches)
        id: extract-version-v2
        run: |
          VERSION=${{ github.event.inputs.hotfix_name }}
          if [[-z "$VERSION"]]
          then
            BRANCH_NAME="${{ github.event.pull_request.head.ref }}"
            VERSION=${BRANCH_NAME#hotfix-}
            VERSION=${VERSION#release-v2/}
          fi
          echo "release_version=$VERSION" >> $GITHUB_OUTPUT

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node v2
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install node_modules v2
        run: |
          npm ci

      # In order to make a commit, we need to initialize a user.
      # You may choose to write something less generic here if you want, it doesn't matter functionality wise.
      - name: Initialize mandatory git config v2
        run: |
          git config user.name "GitHub actions"
          git config user.email noreply@github.com

      - name: Create Monorepo Release Tag v2
        id: create_monorepo_release_v2
        run: |
          git tag -a v${{ steps.extract-version-v2.outputs.release_version }} -m "chore: release v${{ steps.extract-version-v2.outputs.release_version }}"
          git push origin refs/tags/v${{ steps.extract-version-v2.outputs.release_version }}

      - name: Get the two latest versions
        run: |
          CURRENT_VERSION=$(git tag -l "v2*" --sort=-version:refname | head -n 1)
          LAST_VERSION=$(git tag -l "v2*" --sort=-version:refname | head -n 2 | awk 'NR == 2 { 
          print $1 }')

          echo "Current version: $CURRENT_VERSION"
          echo "Previous version: $LAST_VERSION"

          echo "current_monorepo_version=$(echo $CURRENT_VERSION)" >> $GITHUB_ENV
          echo "last_monorepo_version=$(echo $LAST_VERSION)" >> $GITHUB_ENV
          echo "DATE=$(date)" >> $GITHUB_ENV

      - name: Create GitHub Releases v2
        id: create_release_v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run release:github -- --base=${{ env.last_monorepo_version }} --head=${{ env.current_monorepo_version }}

      - name: Create pull request into develop v2
        uses: repo-sync/pull-request@v2
        with:
          source_branch: 'master-v2'
          destination_branch: 'develop-v2'
          github_token: ${{ secrets.PAT }}
          pr_title: 'chore(release): pulling master-v2 into develop-v2 post release v${{ steps
          .extract-version-v2.outputs.release_version }}'
          pr_body: ':crown: *An automated PR*'
          pr_reviewer: 'itsdebs'

      - name: Delete hotfix release branch v2
        uses: koj-co/delete-merged-action@master
        if: startsWith(github.event.pull_request.head.ref, 'hotfix-release-v2/')
        with:
          branches: 'hotfix-release-v2/*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete release branch v2
        uses: koj-co/delete-merged-action@master
        if: startsWith(github.event.pull_request.head.ref, 'release-v2/')
        with:
          branches: 'release-v2/*'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send message to Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          PROJECT_NAME: 'Rudderstack Kotlin SDK v2 monorepo'
          RELEASES_URL: 'https://github.com/rudderlabs/rudder-sdk-android/compare/'
        with:
          channel-id: ${{ secrets.SLACK_RELEASE_CHANNEL_ID }}
          payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "New release: ${{ env.PROJECT_NAME }}"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Release: <${{env.RELEASES_URL}}${{ last_monorepo_version }}...v${{ 
            steps.extract-version-v2.outputs.release_version }}|v${{ steps.extract-version-v2
            .outputs.release_version }}>*\n${{ env.DATE }}"
                  }
                }
              ]
            }